* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    width: 100%;
}

.header {
    background-color: #47004C;
    color: white;
}

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.logo img, .logotext img {
    width: 60px; /* Adjusted width */
    height: auto; /* Maintain aspect ratio */
}

.logo-text-container {
    display: flex;
    align-items: center;
    gap: 0; /* No gap between logo and logo text */
}

.nav {
    flex: 1;
}

.nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    margin-right: 5%;
    gap: 2%;
}

.nav ul li a {
    font-size: smaller;
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background 0.3s;
}

.nav ul li a:hover {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.download-app {
    text-align: right;
}

.download-btn {
    background-color: white;
    color: #47004C;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.lang-btn {
    margin-left: 5px;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}
.header .toggle-btn {
    display: none;
    background-color: #47004C;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.sidebar {
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 250px;
    background-color: #47004C;
    z-index: 1000;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    display: none;
}

.sidebar .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: white;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 1rem;
    transition: background 0.3s;
}

.sidebar ul li a:hover {
    background: rgba(255, 255, 255, 0.2);
}
.hero {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    background-color: #47004C;
    color: white;
}

.oval1 {
    width: 80vw;
    height: 80vw;
    position: absolute;
    background-color: white;
    border-radius: 50%;
    opacity: 0.09;
    top: -57vw;
    right: 70vw;    
}

.oval2 {
    top: -713.46px;
    right: 945px;
    opacity: 10%;
    width: 80vw;
    height: 80vw;
    position: absolute;
    background-color: white;
    border-radius: 50%;
}
.oval3 {
    width: 80vw;
    height: 80vw;
    position: absolute;
    background-color: white;
    border-radius: 50%;
    top: -506.46px;right: 773px;opacity: 4%;
}
.wave {
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 20vw;
}

.hero-content {
    max-width: 50vw;
}

.hero-content h1 {
    font-size: 3vw;
    margin-bottom: 1rem;
}

.hero-content p {
    margin-bottom: 2rem;
    width: 25vw;
}
.phone{
        width: 340px;
        position: relative;
        z-index: 2;
}
.dots-image {
    position: absolute;
    width: 8vw;
    top: 0vw;
    right: 11vw;
    z-index: 1;
}

.dots-image.arabic {
    /* Add the style changes for the Arabic version here */
    left: 11vw;
    right: auto;
}

.app-buttons a img {
    width: 15vw;
    margin-right: 1rem;
}

.about {
    background-color: white;
    padding: 2rem 0;
    text-align: center;
}

.about h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem; /* Adjust gap as needed */
    flex-wrap: wrap;
}

.about-content p {
    flex: 2;
    color: #333;
}

.about-content img {
    flex: 1;
    width: 15vw; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-left: 10%;
}

.line {
    background-color: black;
    height: 2px;
    width: 40px;
    margin-bottom: 10px;
    border-radius: 30px;
}

.Mob1 {
    position: relative;
    width: 25vw;
    top: 10vw;
}

.Mob1.arabic {
    right: 45%;
    top: -80px;
}

.Mob2 {
    position: relative;
    width: 25vw;
    left: 50%;
    top: -8vw;
}

.Mob2.arabic {
    top: 95px;
}

.occasions, .offers, .how-to-order, .features {
    padding: 2rem 0;
}

.section-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.section-header h2 {
    font-size: 2rem;
}

.grid {
    display: grid;
    gap: 5vw;
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
    grid-template-columns: repeat(4, 1fr);
}

.card {
    position: relative;
    width: 200px;
    background: #f9f9f9;
    border-radius: 10px;
    text-align: center;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.card img {
    max-width: 10vw;
    margin-bottom: 1rem;
}

.card p {
    font-size: 1rem;
    color: #333;
}

.card:hover {
    transform: scale(1.05);
}

.number-image {
    position: absolute;
    top: -16px;
    left: 7%;
    transform: translateX(-50%);
    width: 2vw;
    height: auto;
}

.features .card {
    padding: 1.5rem;
}

.features .card p:first-of-type {
    font-size: 2vw;
    font-weight: bold;
}

.faq {
    padding: 2rem 0;
    background-color: white;
}

.faq .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 2rem;
    gap: 2rem;
    flex-wrap: wrap;
}

.faq-questions {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
}

.faq-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.faq-item h3 {
    width: 40vw;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.questionstyle {
    display: flex;
    flex-direction: row;
}

.faq-item p {
    margin-top: -20px;
    width: 40vw;
    font-size: 1rem;
    color: #333;
    margin-bottom: 1rem;
}

.faq-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faq-image img {
    max-width: 50%;
    height: auto;
}

footer {
    background-color: #47004C;
}

.footer-container {
    width: 80%;
    margin: 0 auto;
    position: relative; /* Needed to position the background div */
}

.footer-background {
    position: relative;
    bottom: 3vw;
    right: 0vw;
    width: 100%;
    height: 12vw;
    background-color: white;
    z-index: 0;
}

.footer-content {
    display: flex;
    align-items: center;
    margin-bottom: 2vw;
    flex-direction: column;
}

.footer-card {
    position: relative;
    bottom: 9vw;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #72007A;
    border-radius: 30px;
    background-image: url('background footer.png');
    background-size: contain;
    height: 15vw;
    z-index: 1; /* Ensure it stays above the background div */
}

.footer-card h2 {
    color: #fff;
    font-size: 2vw;
    width: 31vw;
    margin: 0;
}

.footer-card p {
    width: 25vw;
    color: #fff;
    font-size: 1vw;
    margin: 10px 0 0;
}

.app-buttons {
    display: flex;
    margin-left: 2vw;
}

.app-buttons a {
    margin: 0 1vw;
}

.footer-links {
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

.footer-links a {
    font-size: 1vw;
    color: white;
    text-decoration: none;
    margin: 0.5vw 0;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid white;
    padding-top: 2vw;
    margin-top: 2vw;
}

.footer-bottom p {
    font-size: 0.5vw;
    margin: 0;
    color: white;
}

.footer-bottom-links {
    display: flex;
}

.footer-bottom-links a {
    font-size: 0.5vw;
    margin: 0 1vw;
    color: white;
    text-decoration: none;
}

.footer-bottom-links a:hover {
    text-decoration: underline;
}

.social-media-icons {
    display: flex;
}

.social-media-icons a {
    margin: 0 1vw;
}

.social-media-icons img {
    width: 2vw;
    height: 2vw;
}

@media (max-width: 1024px) {
    .nav ul {
        margin-right: 5%;
        gap: 1%;
    }

    .hero-content h1 {
        font-size: 5vw;
    }

    .hero-content p {
        width: 50vw;
    }

    .about-content {
        flex-direction: column;
        text-align: center;
    }

    .about-content img {
        margin-left: 0;
        margin-bottom: 1rem;
    }
}

@media (max-width: 900px) {
    .nav,
    .buttons  {
        display: none;
    }
    .download-app-language{
        display: none;
    }
    .header .toggle-btn {
        display: block;
    }
    .lang-btn{
       background-color: #47004C;
       width: 100%;
       border: darkmagenta;
       color: white;
       text-align: left;
       font-size: 17px;
    }
    .oval2{
        top: -70%;
        right: 60%;
    }
    .oval3{
        top: -50%;
        right: 40%;
    }
    .grid-3 {
        grid-template-columns: repeat(2, 0.8fr);
    }

    .grid-4 {
        grid-template-columns: repeat(2, 0.8fr);
    }
    .phone{
        width: 200px
    }
    .card p{
        font-size: 23px;
    }
    .card h4{
        font-size: 30px;
    }
    .card img{
        max-width: 22vw;
    }
    .number-image{
        width: 30px;
    }
    .hero-image .dots-image{
        display: none;
    }
    .about-content {
        flex-direction: column;
    }
    .Mob1.arabic{
        right: 35%;
        top: 65px;
    }
    .Mob2.arabic{
        top: -50px;
        right: -20px;
    }
    .faq-image{
        display: none;
    }
    .footer-background{
        bottom: 6vw;
    }
    .footer-card{
        bottom: 13vw;
    }
}
@media (max-width: 500px){
    .line{
        display: none;
    }
    .oval2{
        top: -60%;
        right: 60%;
    }
    .oval3{
        width: 700px;
        height: 700px;
        top: -133%;
        right: 40%;
    }
    .hero-content h1{
        font-size: x-large;
    }
    .hero-content p{
        font-size: 14px;
    }
    .hero-content h5{
        font-size: 15;
        margin-bottom: 1rem;
    }
    .wave{
        bottom: -12px;;
    }
    .phone {
        width: 145px;
    }
    .questionstyle h3{
        font-size: 17px;
    }
    .faq-item p{
        font-size: 11px;
    }
    .about h2,.occasions h2,.faq h2,.offers h2,.features h2 ,.how-to-order h2{
        font-size:  20px; ;
    }
    .about-content img{
        width: 30vw;
    }
    .features .card p:first-of-type {
        font-size:5vw;
    }
    .card{
        width: 150px;
    }
    .card p{ 
        font-size: 18px;
    }
    .footer-container{
        margin-top: -48px;
    }
    .footer-background{
        bottom: 11vw;
    }
    .footer-card{
        bottom: 7vw;
    }
    .footer-card div h2{
        margin-left: 30px;
        margin-top: 8px;
    }
    .footer-card div p{
        margin-left: 30px;
        margin-top: 0px;
    }
}