* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    width: 100%;
}

.header {
    background-color: #47004C;
    color: white;
}

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.content {
    direction: ltr;
    display: flex;
    gap: 120px;
    flex-direction: column;
}

header .container {
    gap: 103px;
}

.logo img,
.logotext img {
    width: 60px;
    /* Adjusted width */
    height: auto;
    /* Maintain aspect ratio */
}

.logo-text-container {
    display: flex;
    align-items: center;
    gap: 0;
    /* No gap between logo and logo text */
}

.nav {
    flex: 1;
    margin-top: 18px;
}

.nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    gap: 40px;
}

.nav ul li a {
    font-size: smaller;
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background 0.3s;
}

.nav ul li a:hover {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.download-app {
    text-align: right;
}

.download-btn {
    background-color: white;
    color: #47004C;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 15px;
}

.lang-btn {
    margin-left: 5px;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.header .toggle-btn {
    display: none;
    background-color: #47004C;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.sidebar {
    display: none;
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 214px;
    background-color: #47004C;
    z-index: 999;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: right 0.3s ease-in-out;
}

.sidebar .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: white;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 1rem;
    transition: background 0.3s;
}

.sidebar ul li a:hover {
    background: rgba(255, 255, 255, 0.2);
}

.hero {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    background-color: #47004C;
    color: white;
}

.oval1 {
    width: 1027.68px;
    height: 1027.68px;
    position: absolute;
    background-color: white;
    border-radius: 50%;
    opacity: 3.61%;
    top: -663.46px;
    left: -785.71px;
}

.oval2 {
    top: -901.41px;
    left: -1015.18px;
    opacity: 4.58%;
    width: 1468.75px;
    height: 1467.86px;
    position: absolute;
    background-color: white;
    border-radius: 50%;
}

.oval3 {
    width: 2002.68px;
    height: 2001.78px;
    position: absolute;
    background-color: white;
    border-radius: 50%;
    top: -1185.79px;
    left: -1309.82px;
    opacity: 5.07%;
}

.hero .app-buttons {
    width: fit-content;
    margin-left: -13px;
}

.wave {
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 20vw;
}

.hero-content {
    position: relative;
    right: 4%;
    top: 20%;
    max-width: 50vw;
}

.hero-content h1 {
    font-size: 3vw;
    margin-left: -7px;
    margin-bottom: 1rem;
}

.hero-content p {
    margin-bottom: 2rem;
    width: 25vw;
}

.phone {
    width: 340px;
    position: relative;
    left: 80px;
    z-index: 2;
}

.dots-image {
    position: relative;
    width: 8vw;
    top: -24vw;
    right: 4vw;
    z-index: 1;
}

.dots-image.arabic {
    /* Add the style changes for the Arabic version here */
    left: 19vw;
    right: auto;
}

.about {
    background-color: white;
    padding: 2rem 0;
    text-align: center;
}

.about .container {
    flex-direction: column;
    gap: 60px;
}

.about h2 {
    font-size: 2rem;
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about-content p {
    font-size: 24px;
    width: 755px;
    color: #333;
    text-align: left;
}

.about-content img {
    width: 347.64px;
    /* Adjust width as needed */
    height: auto;
    /* Maintain aspect ratio */
    margin-left: 10%;
}



.line {
    background-color: black;
    height: 2px;
    width: 40px;
    border-radius: 30px;
}

.viewer {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    background-color: #47004C;
    color: white;
    height: 603px;
}

.Mob1 {
    position: relative;
    width: fit-content;
    height: 464px;
    left: 30px;
}

.Mob1.arabic {
    right: 45%;
    top: -35px;
}

.Mob2 {
    position: relative;
    width: fit-content;
    height: 464px;
    left: 10%;
    top: 4vw;
}

.Mob2.arabic {
    top: 55px;
}

.occasions,
.offers,
.how-to-order,
.features {
    display: flex;
    padding: 2rem 0;
    gap: 38px;
    flex-direction: column;
}

.section-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.section-header h2 {
    font-size: 2rem;
}

.grid {
    display: grid;
    gap: 3vw;
    justify-items: center;
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
    grid-template-columns: repeat(4, 1fr);
}

.occasions .grid-3 {
    column-gap: 66px;
}

.occasions .card {
    width: 400px;
}

.card {
    position: relative;
    width: 300px;
    background: #f9f9f9;
    border-radius: 10px;
    text-align: center;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.how-to-order .grid-4 {
    width: 100%;
    column-gap: 109px;
}

.how-to-order .card {
    align-content: center;
    width: 250px;
    height: 287px;
}

.how-to-order .card p {
    Height: 80px;
    font-size: 24px;
    line-height: 40px;
    font-weight: 400;
}

.features .card {
    background-color: white;
}

.occasions .card img {
    width: 138px;
    height: 99px;
    border-radius: 14px;
}

.offers .card img {
    width: 154px;
    height: 120px;
    border-radius: 16px;
}

.how-to-order .card img {
    width: 95px;
    height: 95px;
    border-radius: 16px;
}

.how-to-order .card .number-image {
    width: 50px;
    height: 53px;
    border-radius: 0px;
}

.features .card img {
    width: 32px;
    height: 32px;
}

.card p {
    font-size: 1rem;
    color: #333;
}

.card:hover {
    transform: scale(1.05);
}

.number-image {
    position: absolute;
    top: -16px;
    left: 7%;
    transform: translateX(-50%);
    width: 2vw;
    height: auto;
}

.features .grid-3 {
    width: 100%;
    column-gap: 88px;
}

.features .card {
    height: auto;
    width: 384px;
}

.features .card p:first-of-type {
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
}

.faq {
    padding: 2rem 0;
    background-color: white;
}

.faq .container {
    display: flex;
    flex-direction: column;
}

.faq-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 2rem;
    gap: 2rem;
    flex-wrap: wrap;
}

.faq-questions {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
}

.faq-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.faq-item h3 {
    width: 40vw;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.faq-questions .faq-item p {
    display: none;
}

.faq-questions .faq-item img {
    cursor: pointer;
}

.faq-questions .faq-item.active p {
    display: block;
}

.questionstyle {
    display: flex;
    flex-direction: row;
}

.faq-item p {
    margin-top: -20px;
    width: 40vw;
    font-size: 1rem;
    color: #333;
    margin-bottom: 1rem;
}

.faq-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faq-image img {
    max-width: 30%;
    height: auto;
}

.viewer .hero-content .app-buttons {
    width: fit-content;
    margin-left: -18px;
}

footer {
    background-color: #47004C;
}

.footer-container {
    width: 80%;
    margin: 0 auto;
    position: relative;
    /* Needed to position the background div */
}

.footer-lang {
    display: flex;
    flex-direction: row;
}

.footer-lang a {
    color: white;
    text-decoration: none;
    margin: 0.5vw 0;
}

.footer-lang img {
    width: 28px;
    position: relative;
    top: 0px;
    margin: 0;
    padding: 0;
    background-color: #47004C;
    border: 0;
}

.footer-background {
    position: relative;
    bottom: 3vw;
    right: 0vw;
    width: 100%;
    height: 12vw;
    background-color: white;
    z-index: 0;
}

.footer-content {
    display: flex;
    align-items: center;
    margin-bottom: 2vw;
    flex-direction: column;
}

.footer-card {
    position: relative;
    bottom: 9vw;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #72007A;
    border-radius: 30px;
    background-image: url('background footer.png');
    background-size: contain;
    height: 15vw;
    z-index: 1;
    /* Ensure it stays above the background div */
}

.footer-card h2 {
    color: #fff;
    font-size: 2vw;
    width: 31vw;
    margin: 0;
}

.footer-card p {
    width: 32vw;
    color: #fff;
    font-size: 1vw;
}


.app-buttons a {
    margin: 0 1vw;
}

.footer-links {
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

.footer-links a {
    font-size: 1vw;
    color: white;
    text-decoration: none;
    margin: 0.5vw 0;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid white;
    padding-top: 2vw;
    margin-top: 2vw;
}

.footer-bottom p {
    font-size: 0.5vw;
    margin: 0;
    color: white;
}

.footer-bottom-links {
    display: flex;
}

.footer-options {
    display: flex;
    flex-direction: row;
    gap: 50px;
    ;
}

.footer-bottom-links a {
    font-size: 0.5vw;
    margin: 0 1vw;
    color: white;
    text-decoration: none;
}

.footer-bottom-links a:hover {
    text-decoration: underline;
}

.social-media-icons {
    display: flex;
}

.social-media-icons a {
    margin: 0 1vw;
}

.social-media-icons img {
    width: 2vw;
    height: 2vw;
}

.hero .app-buttons,
.viewer .app-buttons,
.footer-card .app-buttons {
    display: flex;
    flex-direction: row;
}

.hero .app-buttons a img,
.viewer .app-buttons a img,
.footer-card .app-buttons a img {
    width: 221.17px;
    height: 69.72px;
}

@media (max-width: 1024px) {

    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-3 {
        column-gap: 20px;
    }

    .features .grid-3 {
        column-gap: 10px;
    }

    .nav,
    .buttons {
        display: none;
    }

    .download-app-language {
        display: none;
    }

    .header .toggle-btn {
        padding-top: 14px;
        display: block;
        width: 93.5px;
        height: 56px;
    }

    header .container {
        gap: 69%;
    }

    .wave {
        bottom: -35px;
    }

    .hero-content {
        right: -10px;
    }

    .hero .app-buttons {
        flex-direction: column;
    }

    .dots-image {
        width: 15vw;
        top: -31vw;
        right: 10vw;
    }

    .dots-image.arabic {
        left: 4vw;
        right: auto;
    }

    .about-content img {
        margin-left: 25%;
    }

    .how-to-order .card {
        align-content: center;
        width: 300px;
        height: 287px;
    }

    .occasions .card p,
    .offers .card p {
        font-size: 1rem;
    }

    .offers .grid {
        column-gap: 75px;
    }

    .occasions .card,
    .offers .card {
        width: 300px;
    }

    .how-to-order .card p {
        font-size: 30px;
    }

    .how-to-order .card img {
        width: 120px;
        height: 120px;
    }

    .phone {
        width: 302px;
        position: relative;
        left: 40px;
    }

    .about-content p {
        width: 80%;
    }

    .about .container.arabic .about-content {
        justify-content: center;
    }

    .about .container.arabic .about-content img {
        margin-left: 0%;
    }

    .features .card {
        height: auto;
        width: 80%;
    }

    .viewer {
        height: 810px;
    }

    .Mob1 {
        left: -3%;
        top: 42%;
        width: 275px;
    }

    .phone.arabic {
        left: -22%;
    }

    .Mob1.arabic {
        right: -106%;
        top: 40%;
    }

    .Mob2 {
        left: -85%;
        top: -17vw;
        width: 275px;
    }

    .Mob2.arabic {
        top: -30%;
        left: 16%;
    }

    .viewer .hero-content {
        top: -3%;
    }

    .faq-image img {
        display: none;
    }

    .faq .faq-questions {
        width: 100%;
    }

    .faq-content {
        flex-direction: column;
    }

    .faq-item h3 {
        width: 80%;
    }

    .faq-item p {
        width: 90%;
    }

    .faq {
        margin-bottom: 35%;
    }

    footer {
        height: 384px;
    }

    .footer-background {
        display: none;
    }

    .footer-container {
        bottom: 130px;
    }

    .footer-card {
        flex-direction: column;
        align-items: flex-start;
        width: 95%;
        height: 387.85px;
        padding: 46.15px 16px 46.15px 16px;
        gap: 40px;
        border-radius: 30.77px;
    }

    .card-words {
        display: flex;
        gap: 60px;
        padding-left: 20px;
        flex-direction: column;
    }

    .footer-card div h2 {
        width: 80%;
        height: 47px;
        font-size: 30px;
        font-weight: 600;
        line-height: 30px;
    }

    .footer-card div p {
        width: 80%;
        height: 47px;
        font-size: 16px;
        font-weight: 400;
        line-height: 23.08px;
    }

    .footer-card .app-buttons {
        display: flex;
        gap: 23px;
    }

    .footer-links a {
        font-size: 18px;
    }

    .footer-bottom p {
        font-size: 11px;
    }

    .footer-bottom-links a {
        font-size: 12px;
    }

    .social-media-icons img {
        width: 3vw;
        height: 3vw;
    }
}

@media (max-width: 900px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-3 {
        column-gap: 20px;
    }

    .features .grid-3 {
        column-gap: 10px;
    }

    .nav,
    .buttons {
        display: none;
    }

    .download-app-language {
        display: none;
    }

    .header .toggle-btn {
        padding-top: 14px;
        display: block;
        width: 93.5px;
        height: 56px;
    }

    header .container {
        gap: 69%;
    }

    .wave {
        bottom: -25px;
    }

    .hero-content {
        right: -10px;
    }

    .hero .app-buttons {
        flex-direction: column;
    }

    .dots-image {
        width: 15vw;
        top: -60vw;
        right: -27vw;
    }

    .dots-image.arabic {
        left: -13vw;
        right: auto;
    }

    .phone {
        width: 302px;
        position: relative;
        left: 40px;
    }

    .about-content p {
        width: 80%;
    }

    .occasions .card {
        width: 80%;
    }

    .features .card {
        height: auto;
        width: 80%;
    }

    .viewer {
        height: 810px;
    }

    .Mob1 {
        right: 110%;
        top: 42%;
    }

    .Mob1.arabic {
        right: -106%;
        top: 40%;
    }

    .Mob2 {
        left: -104%;
        top: -20vw;
    }

    .Mob2.arabic {
        top: -30%;
        left: 16%;
    }

    .viewer .hero-content {
        top: -3%;
    }

    .faq-image img {
        display: none;
    }

    .faq .faq-questions {
        width: 100%;
    }

    .faq-content {
        flex-direction: column;
    }

    .faq-item h3 {
        width: 80%;
    }

    .faq-item p {
        width: 90%;
    }

    .faq {
        margin-bottom: 35%;
    }

    footer {
        height: 384px;
    }

    .footer-background {
        display: none;
    }

    .footer-container {
        bottom: 130px;
    }

    .footer-card {
        flex-direction: column;
        align-items: flex-start;
        width: 95%;
        height: 387.85px;
        padding: 46.15px 16px 46.15px 16px;
        gap: 40px;
        border-radius: 30.77px;
    }

    .card-words {
        display: flex;
        gap: 60px;
        padding-left: 20px;
        flex-direction: column;
    }

    .footer-card div h2 {
        width: 80%;
        height: 47px;
        font-size: 30px;
        font-weight: 600;
        line-height: 30px;
    }

    .footer-card div p {
        width: 80%;
        height: 47px;
        font-size: 16px;
        font-weight: 400;
        line-height: 23.08px;
    }

    .footer-card .app-buttons {
        display: flex;
        gap: 23px;
    }

    .footer-links a {
        font-size: 18px;
    }

    .footer-bottom p {
        font-size: 11px;
    }

    .footer-bottom-links a {
        font-size: 12px;
    }

    .social-media-icons img {
        width: 3vw;
        height: 3vw;
    }
}

@media (max-width: 540px) {
    header .container {
        gap: 40%;
    }

    .how-to-order .card p {
        font-size: 15px;
    }

    .viewer .hero-content .app-buttons {
        margin-left: 0px;
    }

    .features .grid-3 {
        width: 100%;
        column-gap: 0px;
        justify-items: center;
    }

    .how-to-order .grid-4 {
        column-gap: 10px;
        justify-items: center;
    }

    .occasions .grid-3 {
        column-gap: 10px;
    }

    .viewer {
        height: 656.41px;
    }

    .nav,
    .buttons {
        display: none;
    }

    .download-app-language {
        display: none;
    }

    .header .toggle-btn {
        padding-top: 14px;
        display: block;
        width: 93.5px;
        height: 56px;
    }

    .about .container {
        gap: 24px;
    }

    .hero {
        margin-bottom: 150px;
    }

    .hero .container {
        height: 355px;
        padding-top: 103px;
        flex-direction: column;
    }

    .lang-btn {
        background-color: #47004C;
        width: 100%;
        border: darkmagenta;
        color: white;
        text-align: left;
        font-size: 17px;
    }

    .oval2 {
        top: -70%;
        right: 60%;
    }

    .oval3 {
        top: -50%;
        right: 40%;
    }

    .grid-3 {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        justify-items: center;
    }

    .grid-4 {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px
    }

    .offers .card {
        width: 160px;
        height: 108.4px;
    }

    .hero-content {
        top: 0px;
        max-width: 78vw;
    }

    .phone {
        width: 200px;
        left: 23%;
        top: 4%;
    }

    .phone.arabic {
        right: 22%;
        top: 7%;
    }

    .viewer .hero-content h1 {
        margin-top: 0;
        width: 343px;
        height: 104px;
        font-size: 32px;
        font-weight: 600;
        line-height: 52px;
    }

    .hero-image .dots-image.arabic {
        left: 25%;
        top: 70%;
    }

    .offer .card p {
        font-size: 10px;
        font: bold;
    }

    .offer .card img {
        width: 82px;
        height: 48px;
        border-radius: 6px;
    }

    .offer .card {
        width: 160px;
        height: 108px;
    }

    .occasions .card {
        width: 160px;
        height: 108.4px;
    }

    .number-image {
        left: 0.6px;
        top: 0.14px;
        width: 32px;
        height: 34px;
    }

    .how-to-order .card {
        width: 160px;
        height: 192px;
    }

    .hero-image .dots-image {
        width: 75px;
        top: -73%;
        left: -6%;
    }

    .about-content {
        flex-direction: row;
        display: inline-flex;
    }

    .about-content p {
        text-align: left;
        width: 59%;
        font-size: 12px;
    }

    .about-content img {
        content: url("aboutlogo.png");
        width: 30%;
        height: 30%;
    }

    .Mob2 {
        top: -85px;
    }

    .Mob1.arabic {
        width: 60vw;
        right: -5%;
        top: 5%;
    }

    .Mob2.arabic {
        width: 60vw;
        top: 5%;
        right: -16px;
    }

    .faq-image {
        display: none;
    }

    .footer-background {
        bottom: 6vw;
    }

    .footer-card {
        bottom: 15vw;
    }

    .footer-lang {
        color: white;
        text-decoration: none;
        margin: 0 0 3.5vw 0;
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .line {
        position: relative;
        top: 5px;
        width: 30px;
    }

    .oval1 {
        top: -46vw;
        right: 79vw;
    }

    .oval2 {
        display: none;
    }

    .oval3 {
        width: 700px;
        height: 700px;
        top: -87%;
        right: 58%;
    }

    .hero-content {
        right: 0px;
    }

    .hero-content p {
        width: 343px;
        height: 56px;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
    }

    .hero-content h5 {
        width: 120px;
        height: 28px;
        font-size: 18px;
        font-weight: 500;
        line-height: 28px;
    }

    .footer-card.app-buttons a img {
        width: 188.46px;
        height: 61.54px;

    }

    .wave {
        bottom: -15px;
    }

    .phone {
        width: 205px;
    }

    .viewer .container.arabic .hero-content h1 {
        line-height: 105px;
    }

    .questionstyle h3 {
        font-size: 14px;
        width: 302px;
        height: 26px;
        font-weight: 600;
        line-height: 26px;
    }

    .occasions,
    .offers,
    .how-to-order,
    .features {
        padding: 2rem 0;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .faq-item p {
        font-size: 12px;
        width: 328px;
        height: 60px;
        font-weight: 400;
        line-height: 14.52px;
    }

    .about h2,
    .occasions h2,
    .faq h2,
    .offers h2,
    .features h2,
    .how-to-order h2 {
        font-size: 20px;
        ;
    }

    .occasions .container .grid-3 .card img {
        width: 55.2px;
        height: 39.6px;
    }

    .offers .card img {
        width: 82px;
        height: 48px;
    }

    .how-to-order .card img {
        width: 60.8px;
        height: 60.8px;
    }

    .how-to-order .card .number-image {
        width: 32px;
        height: 34px;
    }

    .features .card p:first-of-type {
        font-size: 14px;
        
        width: 158px;
        line-height: 20px;
        font-weight: 600;
    }

    .features .grid-3 .card {
        width: 160px;
        height: 188px;
        padding: 0;
        border-radius: 8px;
        gap: 18px;
            box-shadow: 0 0px 0px rgba(255, 255, 255, 0.932);
    }

    .features .grid-3 .card img {
        width: 20px;
        height: 24px;
    }

    .features .card p {
        font-size: 11px;
        font-weight: 400;
        line-height: 16px;
        text-align: center;
        width: 160px;
    }

    .occasions .card p,
    .offers .card p {
        font-size: 10px;
        line-height: 12px;
    }

    .footer-background {
        position: absolute;
        top: 518%;
        height: 16%;
    }

    .faq {
        height: 420px;
        margin-bottom: 80%;
    }

    footer {
        height: 500px;
    }

    .footer-container {
        bottom: 130px;
    }

    .footer-card {
        flex-direction: column;
        width: 328.85px;
        height: 387.85px;
        padding: 46.15px 16px 46.15px 16px;
        gap: 40px;
        ;
        border-radius: 30.77px;
        opacity: 0px;

    }

    .card-words {
        display: flex;
        gap: 60px;
        padding-left: 20px;
        flex-direction: column;
        text-align: left;
    }

    .footer-card div h2 {
        width: 296.85px;
        height: 47px;
        font-size: 24px;
        font-weight: 600;
        line-height: 30px;
    }

    .footer-card div p {
        text-align: left;
        width: 296.85px;
        height: 47px;
        font-size: 14px;
        font-weight: 400;
        line-height: 23.08px;
    }

    .footer-links {
        width: 328.85px;
        height: 63.23px;
        gap: 38.4px;
        justify-content: center;

    }

    .footer-links a {
        font-size: 15.38px;
        font-weight: 600;
        line-height: 19.23px;

    }

    .footer-bottom {
        flex-direction: column;
        gap: 10px;

    }

    .footer-bottom p {
        font-size: 13.46px;
        font-weight: 400;
        line-height: 19.23px;
        height: 20px;
        position: relative;
        top: 28px;
        left: 11px;
    }

    .footer-bottom-links {
        position: relative;
        gap: 12px;
        bottom: 25px;
        left: 8px;
    }

    .footer-bottom-links a {
        font-size: 13.46px;
        font-weight: 400;
        line-height: 19.23px;
        height: 20px;
    }

    .social-media-icons {
        gap: 23px;
    }

    .social-media-icons img {
        width: 38.46px;
        height: 38.46px;
        border-radius: 46.15px;
    }

    .Mob1 {
        position: relative;
        width: 200px;
        height: 324px;
        top: 10px;
        left: 20px;
    }

    .Mob2 {
        position: relative;
        width: 200px;
        height: 324px;
        top: 20px;
        left: -15px;
    }

    .viewer .container {
        flex-direction: column;
    }

    .footer-lang a {
        font-size: 15.38px;
        font-weight: 600;
        line-height: 19.23px;
    }

    .hero .app-buttons {
        display: flex;
        flex-direction: row;
        width: 227.24px;
        height: 46.19px;
        justify-content: space-between;
    }

    .faq-questions .faq-item.active p {
        margin: revert;
    }

    .hero .app-buttons a img {
        display: flex;
        flex-direction: row;
        width: 109.17px;
        height: 46.19px;
        justify-content: space-between;
    }

    .viewer .app-buttons {
        display: flex;
        flex-direction: row;
        gap: 25.95px;
    }

    .viewer .hero-content .app-buttons a img {
        width: 117.53px;
        height: 34.82px;
    }

    .viewer .hero-image {
        display: flex;
        flex-direction: row;
        width: 338.5px;
        height: 343.58px;
    }

    .footer-card .app-buttons {
        display: flex;
        flex-direction: column;
        gap: 23px;
    }

    .footer-card .app-buttons a img {
        width: 188.46px;
        height: 61.54px;
    }

    .header {
        height: 82.56px;
    }

    .hero .hero-content h1 {
        margin-top: 90px;
        width: 343px;
        height: 72px;
        font-size: 32px;
        font-weight: 800;
        line-height: 36px;
    }

    .hero .hero-content h5 {
        width: 227.24px;
        height: 19.23px;
        font-size: 15.63px;
        font-weight: 700;
        line-height: 18.89px;
    }

    .header .container {
        justify-content: space-between;
    }

    .footer-card.arabic .card-words h2,
    .footer-card.arabic .card-words p {
        text-align: right;
    }

    .footer-background.arabic {
        top: 512%;
    }

    .container {
        width: 90%;
    }

    .container.arabic {
        margin: 0 auto;
        width: 90%;
    }

    .footer-background {
        display: none;
    }

    .footer-background.arabic {
        display: none;
    }

    .offers .card img {
        border-radius: 6px;
    }

    .footer-options {
        flex-direction: column;
        gap: 0px;
        align-items: center;
    }

    .offers .grid {
        column-gap: 28px;
    }

    .about-content img {
        margin-left: 0%;
    }
    .line{
        margin-bottom: 10px;
    }
}